$colorLine: #383838;

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  background-color: #252423;
  width: 280px;
  height: 500px;


  &__search, &__select {
      width: 200px;
      height: 30px;
      background-color: black;
      color: blanchedalmond;
      border: 1px solid $colorLine;
      border-radius: 6px;
  }

  &__select {
     margin-top: 5px;
  }

  &__contries {
    height: 80%;
    width: 90%;
    margin-top: 10px;
    overflow-x: auto;
    // background-color: slategrey;
    border: 1px solid $colorLine;
    position: relative;
  }
}


.country {
  padding-left: 10px;
  cursor: pointer;
  color: blanchedalmond;
  border-bottom: 1px solid $colorLine;
  margin: 2px 10px;

 &__description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10px;

    p {
      padding: 0;
      margin: 8px;
    }
 }

 &__flag {
   width: 32px;
   height: 20px;
 }

 &__title {
   margin-left: 6px;
 }
}
