@import './components/mapModule';
@import "components/list";
@import "components/keyboard";
@import 'base/variables';
@import 'base/base';
@import 'components/table';

.hide {
    display: none;
}

.full-screen {
    top: 0;
    left: 0;
    width: 100%;
    height: 98vh;
    z-index: 10000;
    position: absolute;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    gap: 1rem;
    margin: 0 auto;
    // flex-wrap: wrap;
}
