* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  padding: 20px;
  background-color: #ececec;
}

#map {
  margin: 0 auto;
  height: 800px;
  width: 1200px;
}

.legend {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: black 1px 1px 2px;
}