.chart {
  position: relative;
  width: 40rem;

  border: 1px solid $color-grey-dark;
  border-radius: .5rem;
  padding: .8rem;
  &-wrapper {
    width: fit-content;
    height: fit-content;
    background: $color-background;
  }
}
